doctype html
html(lang="en")
    head
        title Solving mega menu challenge
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="Solving mega menu challenge")
        link(rel="stylesheet", href="style.css")
    body
        ul
            each menu in data.menu
                li
                    a.menu__link(href=`/${menu.id}`)=menu.label